In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
!pip install catboost

^C

In [8]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor
# from catboost import CatBoostRegressor

In [10]:
df = pd.read_csv("data/stud.csv")

In [11]:
df["total score"] = df["math_score"] + df["reading_score"] + df["writing_score"]

df["average score"] = df["total score"] /3

In [12]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total score,average score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [15]:
y = df["total score"]

In [18]:
z = df["average score"]

In [16]:
df.drop(columns=["total score"],axis=1,inplace=True)

In [19]:
df.drop(columns=["average score"],axis=1,inplace=True)

In [22]:
z

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: average score, Length: 1000, dtype: float64

In [23]:
df.head(5)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [26]:
num_features = df.select_dtypes(exclude="object").columns
cat_features = df.select_dtypes(include="object").columns

In [27]:
cat_features

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [35]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split

In [29]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

In [30]:
preprocessor = ColumnTransformer(

[
    ("Onehotencoder",oh_transformer,cat_features),
    ("standard scaler",numeric_transformer,num_features)

]


)

In [32]:
X = preprocessor.fit_transform(df)

In [36]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [38]:
X_train.shape

(800, 20)

In [39]:
def evaluate_model(true,predicted):

    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mse)
    r2_square = r2_score(true,predicted)

    return mae,mse,rmse,r2_square

In [52]:
models = {

    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Decision tree":DecisionTreeRegressor(),
    "Random forest regressor": RandomForestRegressor(),
    "XGBooster": XGBRegressor()

}

model_list = []
r2_list = []

model_list = list(models.values())

model_keys = list(models.keys())


models_listed = []
r2_list = []

for i in range(len(list(models))):

    model = model_list[i]

    # train the model

    model.fit(X_train,y_train)  

    y_train_pred = model.predict(X_train)
    y_test_pred =  model.predict(X_test)

    model_train_mae,model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(model_keys[i])

    models_listed.append(model_keys[i])


    print("model performance on training set")

    print(f"MAE : {model_train_mae}")
    print(f"MSE : {model_train_mae}")
    print(f"RMSE : {model_train_mae}")
    print(f"R2 : {model_train_mae}")

    print("model performance on testing set")
    
    print(f"MAE : {model_test_mae}")
    print(f"MSE : {model_test_mse}")
    print(f"RMSE : {model_test_rmse}")
    print(f"R2 : {model_test_r2}")


    r2_list.append(model_test_r2)

model performance on training set
MAE : 3.8831160509289474e-14
MSE : 3.8831160509289474e-14
RMSE : 3.8831160509289474e-14
R2 : 3.8831160509289474e-14
model performance on testing set
MAE : 3.858247055177344e-14
MSE : 2.6202803827821127e-27
RMSE : 5.1188674360468766e-14
R2 : 1.0
model performance on training set
MAE : 0.8504986385275478
MSE : 0.8504986385275478
RMSE : 0.8504986385275478
R2 : 0.8504986385275478
model performance on testing set
MAE : 0.8764328857993391
MSE : 1.2408795635813668
RMSE : 1.113947738263051
R2 : 0.9993568236446172
model performance on training set
MAE : 0.0
MSE : 0.0
RMSE : 0.0
R2 : 0.0
model performance on testing set
MAE : 3.36
MSE : 23.83
RMSE : 4.881598098983569
R2 : 0.9876483641131643
model performance on training set
MAE : 0.5488000000000003
MSE : 0.5488000000000003
RMSE : 0.5488000000000003
R2 : 0.5488000000000003
model performance on testing set
MAE : 1.5598
MSE : 11.837200000000001
RMSE : 3.4405232160239816
R2 : 0.993864507582054
model performance on training set
MAE : 0.11989451885223389
MSE : 0.11989451885223389
RMSE : 0.11989451885223389
R2 : 0.11989451885223389
model performance on testing set
MAE : 1.6568903350830078
MSE : 10.1110061611759
RMSE : 3.179780835399808
R2 : 0.9947592334640202

In [56]:
pd.DataFrame(list(zip(model_keys,r2_list)), columns=["model name","R2 square"]).sort_values(by=["R2 square"],ascending=False)

                model name  R2 square
0        Linear Regression   1.000000
1                    Lasso   0.999357
4                XGBooster   0.994759
3  Random forest regressor   0.993865
2            Decision tree   0.987648